.journal-form {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.label {
	padding: 15px 0;

	display: grid;
	grid-template-columns: 1fr 1fr 10fr;
}

.input {
	background: none;
	border: none;
	border-bottom: 1px solid gray;
	transition: all .5s linear;
}

.input-title {
	font-size: 32px; 
	font-style: normal;
	font-weight: 600;
	line-height: normal;	
}


.button {
	max-width: 200px;
}

.invalid {
	border: 1px solid red;
	background: lightsalmon;
}